mat-card{
  width: 100%;
  margin: auto;
}
mat-form-field, input{
  width: 100%;
}

p{
  text-align: center;
  margin-top: 20px;
  background-color: rgb(66, 66, 66);
}
strong{
  color: white;
}
a{
  color: white;
}
h2{
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: black;
}
hr{
  color: rgb(66,66,66);
}
