<mat-spinner *ngIf ="estaCarregando"></mat-spinner>
<mat-accordion *ngIf='lembretes.length > 0 && !estaCarregando' >
  <hr>
  <mat-expansion-panel *ngFor='let lembrete of lembretes'>
    <mat-expansion-panel-header>Lembrete: {{ lembrete.nome }}</mat-expansion-panel-header>

      <p>Data de Cadastro: {{ lembrete.dataHoje | date:'dd/MM/yyyy'}}</p>
      <p>Data de Previsão: {{ lembrete.dataPrev | date:'dd/MM/yyyy' }}</p>
      <p>Conteúdo do Lembrete: {{ lembrete.conteudoLembrete }}</p>
      <div class="lembrete-imagem">
        <img [src]="lembrete.imagemURL" [alt]="lembrete.nome">
      </div>
      <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/editar', lembrete.id]">Editar</a>
        <button mat-button color="warn" (click)="onDelete(lembrete.id)">Remover</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class='mat-body-1' style="text-align: center;" *ngIf="lembretes.length<=0 && !estaCarregando">
Nenhum Lembrete Adicionado</p>
