.buttonLogout{
  margin-top: 500px;
}

.listaTitle{
  flex: 1;
  display: inline;
  margin-bottom: 20px;
  margin-right: 965px;
}

mat-spinner{
  margin:auto;
}

.cliente-imagem {
  width: 100%;
  display: flex;
  justify-content: center;
  }
  .cliente-imagem > img {
  max-width: 20px;
  }


